.shadowbox {
    width: 20em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

a {
    text-decoration: none;
    color: #000;
}

/* 状态一: 未被访问过的链接 */
a:link {
    text-decoration: none;
    color: #000;
}

/* 状态二: 已经访问过的链接 */
a:visited {
    text-decoration: none;
    color: #000;
}

/* 状态三: 鼠标划过(停留)的链接(默认红色) */
a:hover {
    text-decoration: none;
    color: #867373;
}
/* 状态四: 被点击的链接 */
a:active {
    text-decoration: none;
    color: #000;
}